@import "./sdk/index";
@import "./common/reset";

html,body{
  background: $body-bg-color !important;
  min-width: 1200px;
  font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif !important;
}

a {
  text-decoration: none;
}

.header {
  line-height: $header-height;
  height: $header-height;
  background: $header-bg-color;
  color: #fff;

  .logo-box {
    height: 100%;
    float:left;

    .logo-wrapper {
      display: inline-block;
      height: 100%;
      padding: 0 20px 0 10px;
      background: #fff;
    }

    img {
      vertical-align: middle;
      height: 30px;
    }

    .title {
      font-size: 14px;
      padding-left: 20px;
      display: inline-block;
      @include setHeightGroup(18px);
    }
  }

  .nav-box {
    padding-right: 10px;
    float:right;
  }

  .nav {
    width:100%;
    @include setHeightGroup($header-height);

    .nav-item {
      cursor: pointer;
      transition: color .3s ease-in-out;
      color: #fff;
      padding: 0 10px;
      font-size: 14px;

      .iconfont{
        font-size: 16px;
      }
    }

    .nav-item-inner{
      position: relative;

      .number {
        position: absolute;
        right: -5px;
        top: -8px;
        background: #f5232c;
        color: #fff;
        padding: 2px 4px;
        font-size: 12px;
        line-height: 12px;
        height: auto;
        display: inline;
        @include borderRadius(100%);
      }
    }

    .username {
      margin-left: 5px;
    }
  }
}

.crumbs {
  display:block;
  width: 100%;
  padding: 0 10px;
  height: $crumbs-height;
  line-height: $crumbs-height - 2;
  background: #fff;
  border-top: 1px solid $bd-color;
  border-bottom:1px solid $bd-color;
  font-size:14px;

  .iconfont {
    font-size: 14px;
  }

  .separator {
    margin: 0 8px;
    color: $lightest-font-color;
  }


  .link-item {
    color: $lightest-font-color;
    text-decoration: none;
  }

  .text-item {
    color: $font-color;
  }
}

.home-banner{
  height:400px;
  text-align: center;
  img{
    width: 100%;
    display: inline-block;
    height: 400px;
  }
}

.main-container{
  padding: 20px 30px 0;
}

.aside-contact {
  position: fixed;
  margin-top: -90px;
  top:50%;
  right: 30px;
  background: #F8F8F8;
  @include borderRadius(4px);
  padding:10px 20px;
  @include boxShadow(0 0 5px rgba(0,0,0,.5));
  z-index: 100;

  .info-line {
    padding: 10px 0;
    border-bottom: 1px dashed $bd-color;
    overflow: hidden;

    &:last-child {
      border-bottom:none;
    }

    .iconfont {
      font-size: 18px;
      color: $primary-color;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;

      &.icon-phone{
        vertical-align: top;
      }
    }

    span{
      font-size: 12px;
      display: inline-block;
      color: $lighter-font-color;
      line-height: 22px;
    }
  }
}

.category {

  .product-list {
    margin-bottom: 20px;
    background: #fff;
    @include borderRadius(4px);
    padding: 15px 20px 25px;
    overflow: hidden;

    .title{
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
    }

    .item {
      margin-top:30px;
      width: 25%;
      float:left;
      border-right: 1px solid $bd-color;
      cursor: pointer;

      &:nth-child(4), &:nth-child(8), &:nth-child(12) {
        border-right: none;
      }

      &:last-child{
        border-right: none;
      }

      &:hover{
        .image-wrapper {
          background: $primary-color;
          .iconfont{
            color: #fff;
          }
        }
      }

      .icon-line{
        width: 100%;
        text-align: center;
      }

      .icon-box {
        display: inline-block;
        position: relative;
        height: 60px;
        width: 60px;

        .number {
          position: absolute;
          left: 60px;
          top: 0;
          background: #f5232c;
          color: #fff;
          padding: 2px 8px;
          font-size: 12px;
          @include borderRadius(100%);
        }

      }

      .image-wrapper{
        display: inline-block;
        width: 60px;
        height: 60px;
        border:1px solid $primary-color;
        line-height: 58px;
        text-align: center;
        @include transition(all .3s ease-in-out);
        @include borderRadius(100%);

        .iconfont{
          font-size: 34px;
          color: $primary-color;
        }
      }

      .text-line{
        margin-top: 15px;
        width: 100%;
        line-height: 20px;
        text-align: center;
        font-size: 14px;
        color: $primary-color;
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 25px 30px;
  background: $header-bg-color;
  overflow: hidden;
  text-align: left;

  &:before {
    content: '';
    display: block;
    clear: both;
  }

  .box-links {
    font-size: 14px;
    line-height: 28px;
    color: $font-color;
    text-align:left;

    a {
      display: inline-block;
      color: #fff;
      margin: 0 12px;

      &:first-child{
        margin-left:0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .box-links-2 {
    font-size: 0;
    color: #fff;
    text-align: left;
    margin-top:5px;

    a {
      font-size:13px;
      display: inline-block;
      line-height: 28px;
      padding: 0 8px 0 9px;
      color: #fff;
      position: relative;
      &:before {
        content: '';
        height: 13px;
        width: 1px;
        background: lighten($header-bg-color, 40%);
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    label {
      font-size: 13px;
      line-height: 28px;
    }
    label + a, a:first-child {
      &:before {
        display: none;
      }
    }
  }
  .site-statement {
    text-align: left;
    color: #fff;
    font-size: 12px;
    line-height: 28px;

    li:first-child{
      font-size:13px;
    }

    .police-line{

      .image-wrapper{
        margin-right: 5px;
      }

      img {

        vertical-align: middle;
      }
    }
  }
}

.back-to-top{
  display: inline-block;
  position: fixed;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  z-index: 100;
  bottom: 20px;
  right: 40px;
  cursor:pointer;
  background: #f5f5f5;
  @include borderRadius(4px);
  @include boxShadow(0 0 4px rgba(0, 0, 0, .5));

  i{
    font-size: 16px;
  }
}

.dialog-box-remind {
  position: fixed;
  bottom: 20px;
  right: 90px;
  background: #f5f5f5;
  z-index: 1100;
  @include boxShadow(0 0 10px rgba(0, 0, 0, 0.5));
  @include borderRadius(5px);

  .dialog-header {
    border-bottom: 1px solid $bd-color;
    height: 45px;
    line-height: 44px;
    width: 100%;
    background: #f5f5f5;
    padding: 0 0 0 20px;
    font-size: 13px;
    position: relative;
    color: $lighter-font-color;

    .title {
      float:left;
      font-weight: bold;
    }

    .btns {
      float:right;
    }

    .btn {
      display: inline-block;
      width: 30px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      cursor: pointer;
      float:left;
      margin-right: 5px;
    }
  }

  .dialog-content-remind {
    padding: 0 20px;
  }

  .dialog-footer{
    height: 36px;
    line-height: 36px;
    font-size:12px;
    text-align: center;

    .btn-remind{
      cursor:pointer;
      position: relative;
      color: #5C5D68;
      height: 24px;
      display: inline-block;

      .icon-wrapper {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid $bd-color;
        line-height: 14px;
        text-align: center;

        .iconfont {
          font-size: 10px;
          color: #fff;
        }
      }
    }

    .btn-remind.checked{
      .iconfont {
        color: $lighter-font-color !important;
      }
    }
  }

  .remind-box {
    width: 100%;

    .remind-item {
      width: 100%;
      min-width: 298px;
      padding:10px 0 14px;
      position: relative;
      border-bottom: 1px dashed $bd-color;

      .title {
        @include setHeightGroup(22px);
        margin-bottom: 5px;
        color: $primary-color;

        .iconfont {
          margin-right:5px;
        }

        .text{
          font-size: 13px;
          font-weight: bold;
        }
      }

      ul{
        display: inline-block;
        width: 100%;
        vertical-align: middle;

        li {
          line-height: 26px;
        }

        .dot {
          display: inline-block;
          height:4px;
          width:4px;
          background: $font-color;
          margin: 0 8px 0 5px;
          @include borderRadius(6px);
        }

        a{
          color: $font-color;
          font-size:12px;

          span{
            color: $primary-color;
          }

          &:hover{
            text-decoration: underline;
          }
        }
      }

      li{
        @include setHeightGroup(32px);
        display: block;
      }
    }

    dl{
      position: absolute;
      width:90px;
      height:68px;
      top: 50%;
      left: 0;

      margin-top: -34px;
    }
    dt{
      text-align: center;
      span{
        vertical-align: top;
      }
    }
    dd {
      color: #9d9eaa;
      font-size: 12px;
      text-align: center;
    }

    .wrapper-links{
      position: relative;
      min-height: 64px;
      line-height: 64px;
    }

    .icon {
      display: inline-block;
      height: 50px;
      width: 50px;
    }
  }
}

