$themeColor: #353751;
$lighterThemeColor: #65677f;
$bdColor: #ccc;
$lighterBdColor: #eee;
$bgColor: #fff;
$fontColor: #333;
$lighterFontColor: #656565;
$lightestFontColor: #989898;

$activeColor: #de0000;
$hoverColor: #f04300;
$prevStepColor: #6ebd6b;
$curStepColor: #11af0a;
$nextStepColor: #ccc;

$blueColor: #130ad1;
$redColor: #EC1B4F;
$darkRedColor: #870014;