$themeColor: #353751;
$lighterThemeColor: #65677f;
$bdColor: #eae9ec;
$bgColor: #fff;
$whiteBgColor: #fff;
$blockDarkColor: #e5e7e8;
$blockWhiteColor: #f6f6f6;
$fontColor: #333;
$lighterFontColor: #666;
$lightestFontColor: #999;