$fontColor: #fff;
$lighterFontColor: #333;
$lightestFontColor: #888;
$bdColor: #eee;
$lighterBdColor: #eee;
$lightestBdColor: #f0f0f0;
$bgColor: #01A3DA;
$themeColor: #017ACC;

$bodyBgBeginColor: #01A3DA;
$bodyBgEndColor: #02D0EF;

$codeBgBeginColor:#FFDC47;
$codeBgEndColor:#FF6900;

$usernameBgColor: #015C92;
