body, div, ul, dl, ol, dt, dd, li, p, a, label, span, i, img, input, textarea, header, footer, article, section, nav, aside, figure, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  min-width: 1200px;
  font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
  background: #fff;
  color: #282828;
}

ul, dl, ol {
  list-style: none;
}

a {
  color: #282828;
  text-decoration: none;
}

input, textarea, a {
  outline: none;
}

header, footer, article, section, nav, aside, figure {
  display: block;
}

.btn {
  cursor: pointer;
}

.icon {
  display: inline-block;
}

.p-t-b-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-b-65 {
  padding-bottom: 65px;
}

.frame-top-line {
  height: 80px;
  background: #fff;
}
.frame-top-line .top-line-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.frame-top-line .logo-box {
  float: left;
  height: 80px;
  padding: 12px 20px 0 0;
}
.frame-top-line .logo-box .logo {
  display: block;
  min-width: 200px;
  height: 36px;
}
.frame-top-line .logo-box img {
  display: block;
  height: 36px;
  vertical-align: top;
}
.frame-top-line .logo-box .text-site-intro {
  display: block;
  letter-spacing: 4px;
  font-size: 12px;
  color: #282828;
  margin-top: 4px;
  height: 16px;
  line-height: 16px;
}
.frame-top-line .func-box {
  float: right;
  padding: 30px 0;
}
.frame-top-line .func-box > div {
  float: left;
  padding: 0 15px;
  position: relative;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}
.frame-top-line .func-box > div a:hover {
  color: #d1251a;
}
.frame-top-line .func-box .file-search {
  padding: 0 0 0 20px;
  margin-left: 5px;
}
.frame-top-line .func-box .file-search:before {
  content: '';
  height: 16px;
  width: 1px;
  background: #C2C2C2;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
}
.frame-top-line .func-box .file-search a {
  padding-left: 22px;
  background: url(images/search.png) left center no-repeat;
}
.frame-top-line .func-box .file-search:hover a {
  background: url(images/search_red.png) left center no-repeat;
}
.frame-top-line .func-box .login-info {
  font-size: 12px;
}
.frame-top-line .func-box .username {
  margin: 0 20px 0 2px;
  color: #282828;
  text-decoration: none;
}

.frame-banner-box {
  width: 100%;
  height: 270px;
  overflow: hidden;
  position: relative;
  background: #f6f6f6;
}
.frame-banner-box a:hover {
  color: #b8342c;
  text-decoration: underline;
}
.frame-banner-box ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}
.frame-banner-box li {
  width: 100%;
  height: 100%;
  float: left;
}
.frame-banner-box li img {
  display: block;
  margin: 0 auto;
}
.frame-banner-box .banner-temp {
  width: 100%;
  height: 100%;
  background-position: center center;
}
.frame-banner-box .banner-temp img {
  display: block;
  margin: 0 auto;
}
.frame-banner-box .banner-loading {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(images/banner_loading.gif) center center no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.frame-banner-box .banner-btn-list-box {
  position: absolute;
  z-index: 15;
  width: 100%;
  text-align: center;
  height: 26px;
  line-height: 26px;
  bottom: 12px;
}
.frame-banner-box .banner-btn-list-box .btn-banner {
  display: inline-block;
  width: 30px;
  height: 26px;
  padding: 10px 0 0;
  margin: 0 4px;
}
.frame-banner-box .banner-btn-list-box .btn-banner i {
  display: inline-block;
  width: 100%;
  float: left;
  height: 6px;
  border-radius: 6px;
  background: #e4e6e7;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.frame-banner-box .banner-btn-list-box .btn-banner:hover i, .frame-banner-box .banner-btn-list-box .btn-banner.active i {
  background: #067cfe;
}

.frame-main-container {
  width: 100%;
}
.frame-main-container .main-container-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.frame-main-container .register-guide {
  text-align: center;
}
.frame-main-container .register-guide table {
  vertical-align: middle;
  text-align: left;
  display: inline-block;
}
.frame-main-container .register-guide table span {
  padding: 0 10px 0 35px;
}
.frame-main-container .register-guide table td {
  padding: 0;
  line-height: 36px;
}
.frame-main-container .register-guide table .user {
  background: url(images/user.png) left center no-repeat;
}
.frame-main-container .register-guide table .tel {
  background: url(images/tel.png) left center no-repeat;
}
.frame-main-container .register-guide table .mail {
  background: url(images/mail.png) left center no-repeat;
}
.frame-main-container .line-modules {
  width: 100%;
  padding-top: 36px;
  overflow: hidden;
}
.frame-main-container .line-modules a {
  width: 171px;
  float: left;
  padding: 0 25px;
}
.frame-main-container .line-modules a:hover {
  color: #d1251a;
}
.frame-main-container .line-modules a:hover h3 {
  color: #d1251a;
  text-decoration: underline;
}
.frame-main-container .line-modules .icon-wrapper {
  height: 60px;
  text-align: center;
}
.frame-main-container .line-modules .icon-wrapper span {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.frame-main-container .line-modules .icon-wrapper img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  vertical-align: center;
}
.frame-main-container .line-modules h3 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
.frame-main-container .line-modules h3 label {
  margin-right: 5px;
  color: #d1251a;
}
.frame-main-container .line-modules p {
  font-size: 12px;
  text-align: center;
  color: #999999;
}
.frame-main-container .box-modules {
  border: 1px solid #e2e2e2;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.frame-main-container .box-modules .line-modules {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
}
.frame-main-container .box-modules .line-modules:first-child {
  padding-top: 0;
}
.frame-main-container .box-modules .line-modules a {
  width: 166px;
}
.frame-main-container .box-modules dl {
  border-top: 1px solid #ededed;
  padding-bottom: 18px;
}
.frame-main-container .box-modules dl:first-child {
  border: none;
}
.frame-main-container .box-modules dt {
  font-size: 18px;
  line-height: 30px;
  padding: 12px 30px;
  position: relative;
}
.frame-main-container .box-modules dt:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 18px;
  background: #E20102;
  left: 18px;
  top: 50%;
  margin-top: -9px;
}

.frame-footer {
  width: 100%;
  border-top: 1px solid #cccccc;
  background: #fff;
  overflow: hidden;
}
.frame-footer .footer-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.frame-footer:before {
  content: '';
  display: block;
  clear: both;
}
.frame-footer .box-links {
  font-size: 14px;
  line-height: 28px;
  color: #282828;
  text-align: center;
  margin-top: 20px;
}
.frame-footer .box-links a {
  display: inline-block;
  color: #282828;
  margin: 0 13px;
}
.frame-footer .box-links a:hover {
  color: #d1251a;
  text-decoration: underline;
}
.frame-footer .box-links-2 {
  font-size: 0;
  color: #282828;
  text-align: center;
  margin-top: 12px;
}
.frame-footer .box-links-2 a {
  font-size: 12px;
  display: inline-block;
  line-height: 24px;
  padding: 0 8px 0 9px;
  color: #282828;
  position: relative;
}
.frame-footer .box-links-2 a:before {
  content: '';
  height: 12px;
  width: 1px;
  background: #333;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}
.frame-footer .box-links-2 a:hover {
  color: #d1251a;
  text-decoration: underline;
}
.frame-footer .box-links-2 label {
  font-size: 12px;
  line-height: 24px;
}
.frame-footer .box-links-2 label + a:before, .frame-footer .box-links-2 a:first-child:before {
  display: none;
}
.frame-footer .site-statement {
  text-align: center;
  color: #282828;
  font-size: 12px;
  line-height: 24px;
  margin: 8px 0 30px;
}
.frame-footer .site-statement li:first-child {
  margin-bottom: 5px;
}

/* begin login dialog */
.dialog-bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47000000, endColorstr=#47000000);
  z-index: 1005;
}

.dialog-box {
  width: 350px;
  height: 190px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -95px;
  margin-left: -175px;
  background: #fff;
  z-index: 1100;
}
.dialog-box .dialog-header {
  border-bottom: 1px solid #ebebeb;
  height: 39px;
  line-height: 38px;
  background: #b8342c;
  width: 100%;
  padding-left: 18px;
  font-size: 14px;
  position: relative;
  color: #fff;
}
.dialog-box .dialog-header .btn-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(images/close.png) center center no-repeat;
  float: right;
  margin: 7px 10px;
  *position: absolute;
  *right: 10px;
  *top: 7px;
  *z-index: 1300;
  *margin: 0;
}
.dialog-box .dialog-content {
  padding: 20px 20px 10px 20px;
  width: 100%;
  height: 149px;
}
.dialog-box .dialog-content .info-line {
  padding-left: 32px;
  line-height: 24px;
  width: 308px;
  background: url(images/warn.png) left 2px no-repeat;
}
.dialog-box .dialog-content .info-line span {
  font-size: 12px;
  color: red;
}
.dialog-box .dialog-content .btn-line {
  height: 36px;
  line-height: 36px;
  margin-top: 15px;
  font-size: 14px;
}
.dialog-box .dialog-content .btn-line .btn-action {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  margin-left: 64px;
  float: left;
  color: #fff;
  width: 100px;
  text-align: center;
  background: #b8342c;
}
.dialog-box .dialog-content .btn-line .btn-cancel {
  margin-left: 35px;
  float: left;
  color: #282828;
}
.dialog-box .dialog-content .btn-line .btn-cancel:hover {
  text-decoration: underline;
}
.dialog-box .dialog-content .register-line {
  margin-top: 15px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  color: #777;
  font-size: 12px;
}
.dialog-box .dialog-content .register-line a {
  cursor: text;
  text-decoration: none;
  color: #282828;
  margin-left: 2px;
}

/* end login dialog */

/*# sourceMappingURL=frame.css.map */
