/* begin tis-home */
.wrapper-top-line {
  background: #007acd !important;
}

.wrapper-top-line .btn-box {
  border-left: 1px solid #007acd !important;
  border-right: 1px solid #007acd !important;
}

.wrapper-top-line .lang-list li.active a, .wrapper-top-line .lang-list li:hover a {
  color: #007acd !important;
}

.wrapper-top-line .box-message-list a:hover {
  color: #007acd !important;
}

.wrapper-top-line .box-category-list dd a:hover {
  color: #007acd !important;
}

.block-logo-search .input-box {
  border: 2px solid #007acd !important;
}

.block-logo-search span.btn {
  background: #007acd !important;
}

.block-logo-search a.btn {
  color: #007acd !important;
}

.block-footer .links-box a:hover {
  color: #007acd !important;
}

.dialog-box .dialog-content .btn-line .btn-action {
  background: #007acd !important;
}

.dialog-box .dialog-content .btn-line .btn-cancel {
  color: #007acd !important;
}

.dialog-box .dialog-content .register-line a {
  color: #007acd !important;
}

.dialog-box .dialog-content .auto-jump-line a {
  color: #007acd !important;
}

.dialog-box-expired .dialog-content-expired dd span {
  color: #007acd !important;
}

.dialog-box-expired .dialog-content-expired dd a {
  color: #007acd !important;
}

.block-nav-crumb a:hover {
  color: #007acd !important;
}

.block-logo-search .change-brand-btn {
  color: #007acd !important;
}

.block-news-service .notice-board {
  border: 3px solid #007acd !important;
}

.block-news-service .notice-board dd a:hover {
  color: #007acd !important;
}

.block-news-service .news-dynamic-box .tab-content-box .news-list a:hover {
  color: #007acd !important;
}

.banner-list-box .banner-btn-list span:hover, .banner-list-box .banner-btn-list span.active {
  background: #007acd !important;
}

.item-message dd a {
  color: #007acd !important;
}

.block-btn-group .btn-goto {
  background: #007acd !important;
}

.block-btn-group .btn:hover, .block-btn-group .btn.active {
  background: #007acd !important;
}

.block-download .download-info dd a {
  color: #007acd !important;
}

.block-download .download-table a {
  background: #007acd url(images/icons_download.png) 14px 0 no-repeat !important;
}

.block-download .download-intro a {
  color: #007acd !important;
}

/* begin tis-portal */
.frame-top-line a:hover {
  color: #007acd !important;
}
.frame-top-line .func-box-left .change-brand .btn:hover {
  color: #007acd !important;
}
.frame-top-line .func-box-left .change-lang a:hover {
  color: #007acd !important;
}
.frame-top-line .btn:hover {
  color: #007acd !important;
}
.frame-top-line .box-message-list a:hover {
  color: #007acd !important;
}

.frame-logo-search a:hover {
  color: #007acd !important;
}
.frame-logo-search .search-box input {
  border: 2px solid #007acd !important;
}
.frame-logo-search .search-box .btn-search {
  background: #007acd !important;
}
.frame-logo-search .search-box .btn-search:hover {
  background: #0062a4 !important;
}
.frame-logo-search .search-box .btn-replace-search:hover {
  color: #007acd !important;
}

.frame-banner-box a:hover {
  color: #007acd !important;
}
.frame-banner-box .banner-btn-list .btn-banner:hover, .frame-banner-box .banner-btn-list .btn-banner.active {
  background: #007acd !important;
}

.frame-main-container a:hover {
  color: #007acd !important;
}

.frame-footer a:hover {
  color: #007acd !important;
}
.frame-footer .box-links a:hover {
  color: #007acd !important;
}

.frame-contact a:hover {
  color: #007acd !important;
}

.frame-back-to-top a:hover {
  color: #007acd !important;
}

/* begin index */
.portal-module dd a:hover {
  border: 1px solid #007acd !important;
  -webkit-box-shadow: 0 0 4px #007acd !important;
  -moz-box-shadow: 0 0 4px #007acd !important;
  box-shadow: 0 0 4px #007acd !important;
}

.portal-information .information-title a {
  color: #007acd !important;
}

/*# sourceMappingURL=color.css.map */
