.portal-information .information-content li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body, div, ul, dl, ol, dt, dd, li, p, a, label, span, i, img, input, textarea, header, footer, article, section, nav, aside, figure {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  min-width: 980px;
  font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
  background: #fff;
  color: #333;
}

ul, dl, ol {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #007acd;
  text-decoration: underline;
}

input, textarea, a {
  outline: none;
}

header, footer, article, section, nav, aside, figure {
  display: block;
}

.btn {
  cursor: pointer;
}

.icon {
  display: inline-block;
}

.icon-pjxx {
  width: 18px;
  height: 18px;
  background: url(images/icons_module.png) 0 0 no-repeat;
}

.icon-scsc {
  width: 18px;
  height: 18px;
  background: url(images/icons_module.png) -18px 0 no-repeat;
}

.icon-tzgg {
  width: 18px;
  height: 18px;
  background: url(images/icons_module.png) -36px 0 no-repeat;
}

.icon-wxzl {
  width: 18px;
  height: 18px;
  background: url(images/icons_module.png) -54px 0 no-repeat;
}

.icon-wdzx {
  width: 18px;
  height: 18px;
  background: url(images/icons_module.png) -72px 0 no-repeat;
}

.icon-qt {
  width: 18px;
  height: 18px;
  background: url(images/icons_module.png) -90 px 0 no-repeat;
}

.icon-ggl {
  width: 18px;
  height: 18px;
  background: url(images/icons_module.png) -108 px 0 no-repeat;
}

.icon-xwzx {
  width: 18px;
  height: 18px;
  background: url(images/icons_module.png) -126 px 0 no-repeat;
}

.icon-yhdd {
  width: 18px;
  height: 18px;
  background: url(images/icons_module.png) -144 px 0 no-repeat;
}

.frame-top-line {
  height: 29px;
  line-height: 28px;
  border-bottom: 1px solid  #e1e1e1;
  background: #f7f7f7;
  width: 100%;
}
.frame-top-line .func-box-left {
  float: left;
}
.frame-top-line .func-box-left > div {
  float: left;
  padding: 0 0 0 20px;
  height: 28px;
  line-height: 28px;
}
.frame-top-line .func-box-left .change-brand .btn {
  color: #999;
}
.frame-top-line .func-box-left .change-brand .btn:hover {
  text-decoration: underline;
  color: #007acd;
}
.frame-top-line .func-box-left .change-lang {
  font-size: 12px;
}
.frame-top-line .func-box-left .change-lang > div {
  width: 80px;
  height: 28px;
  line-height: 28px;
  position: relative;
  min-width: 80px;
  padding: 0 8px;
  cursor: pointer;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}
.frame-top-line .func-box-left .change-lang > div:hover {
  background: #fff;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.frame-top-line .func-box-left .change-lang > div:hover .icon-arrow {
  background: url(images/icons_top_line.png) -8px 0 no-repeat;
}
.frame-top-line .func-box-left .change-lang label {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  float: left;
  cursor: pointer;
}
.frame-top-line .func-box-left .change-lang .icon-arrow {
  width: 8px;
  height: 28px;
  float: left;
  margin-left: 10px;
  background: url(images/icons_top_line.png) 0 0 no-repeat;
}
.frame-top-line .func-box-left .change-lang ul {
  display: none;
  position: absolute;
  top: 28px;
  left: -1px;
  right: -1px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-top: 0;
  padding: 4px 0;
}
.frame-top-line .func-box-left .change-lang li {
  padding: 0 8px;
  height: 26px;
  line-height: 26px;
}
.frame-top-line .func-box-left .change-lang a:hover {
  text-decoration: underline;
  color: #007acd;
}
.frame-top-line .btn {
  font-size: 12px;
}
.frame-top-line .btn:hover {
  color: #007acd;
  text-decoration: underline;
}
.frame-top-line .func-box-right {
  float: right;
  font-size: 12px;
}
.frame-top-line .func-box-right > div {
  float: left;
  padding: 0 14px;
  position: relative;
}
.frame-top-line .func-box-right > div:before {
  content: '';
  height: 12px;
  width: 1px;
  background: #d7d7d7;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}
.frame-top-line .func-box-right > div:first-child:before {
  width: 0;
}
.frame-top-line .func-box-right .nav-box {
  padding: 0;
  position: relative;
}
.frame-top-line .func-box-right .nav-box > span {
  cursor: pointer;
  padding: 0 20px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
}
.frame-top-line .func-box-right .nav-box > span .icon-nav {
  display: inline-block;
  width: 24px;
  height: 28px;
  margin-right: 8px;
  float: left;
  background: url(images/icons_top_line.png) -16px center no-repeat;
}
.frame-top-line .func-box-right .nav-box:hover {
  background: #fff;
}
.frame-top-line .func-box-right .nav-box:hover > span .icon-nav {
  background: url(images/icons_top_line.png) -40px center no-repeat;
}
.frame-top-line .func-box-right .nav-box:hover:before {
  content: '';
  height: 28px;
  width: 1px;
  background: #ebebeb;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
}
.frame-top-line .func-box-right .nav-box:hover:after {
  content: '';
  height: 1px;
  width: 100%;
  background: #fff;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
}
.frame-top-line .func-box-right .site-nav {
  font-size: 12px;
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 18px 0;
  border-top: none;
  overflow: hidden;
  display: none;
  position: absolute;
  right: 0;
  top: 29px;
  z-index: 999;
}
.frame-top-line .func-box-right .site-nav .nav-column {
  width: 194px;
  height: 100%;
  padding: 0 20px;
  float: left;
  position: relative;
}
.frame-top-line .func-box-right .site-nav .nav-column:before {
  content: '';
  width: 1px;
  display: block;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: #ebebeb;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.frame-top-line .func-box-right .site-nav .nav-column:first-child:before {
  display: none;
}
.frame-top-line .func-box-right .site-nav dt {
  font-weight: bold;
  display: block;
  line-height: 18px;
  margin-bottom: 14px;
}
.frame-top-line .func-box-right .site-nav dd {
  display: block;
  line-height: 16px;
  margin-top: 8px;
}

.frame-logo-search {
  width: 100%;
  height: 81px;
  border-bottom: 1px solid #e1e1e1;
}
.frame-logo-search .logo-box {
  float: left;
  height: 80px;
  padding: 10px 20px;
}
.frame-logo-search .logo-box .logo {
  display: block;
  min-width: 200px;
  height: 40px;
}
.frame-logo-search .logo-box img {
  vertical-align: top;
}
.frame-logo-search .logo-box .text-site-intro {
  display: block;
  letter-spacing: 6px;
  font-size: 12px;
  color: #a1a1a1;
  margin-top: 4px;
  height: 16px;
  line-height: 16px;
}
.frame-logo-search .search-box {
  float: right;
  height: 80px;
  padding: 23px 0;
}
.frame-logo-search .search-box input {
  display: block;
  height: 34px;
  float: left;
  width: 460px;
  border: 2px solid #007acd;
  padding: 0 10px;
}
.frame-logo-search .search-box input ::-webkit-input-placeholder {
  color: #ccc;
  font-size: 12px;
}
.frame-logo-search .search-box input ::-moz-placeholder {
  color: #ccc;
  font-size: 12px;
}
.frame-logo-search .search-box input :-ms-input-placeholder {
  color: #ccc;
  font-size: 12px;
}
.frame-logo-search .search-box .btn {
  display: inline-block;
  float: left;
  height: 34px;
  line-height: 34px;
}
.frame-logo-search .search-box .btn-search {
  font-size: 14px;
  color: #fff;
  padding: 0 18px;
  background: #007acd;
}
.frame-logo-search .search-box .btn-replace-search {
  font-size: 12px;
  text-decoration: underline;
  margin: 0 20px;
}
.frame-logo-search .search-box .btn-replace-search:hover {
  color: #007acd;
}

.frame-banner-box {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
}
.frame-banner-box ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}
.frame-banner-box li {
  width: 100%;
  height: 100%;
  float: left;
}
.frame-banner-box li img {
  display: block;
  margin: 0 auto;
}
.frame-banner-box .banner-temp {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background-position: center center;
}
.frame-banner-box .btn {
  display: inline-block;
  width: 50px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 15;
}
.frame-banner-box .btn-prev-banner {
  left: 0;
  background: url(images/prev.png) center center no-repeat;
}
.frame-banner-box .btn-next-banner {
  right: 0;
  background: url(images/next.png) center center no-repeat;
}

.frame-main-container {
  width: 100%;
  zoom: 1;
}
.frame-main-container:after {
  content: '';
  display: block;
  clear: both;
}

.frame-footer {
  width: 100%;
  padding: 35px 20px 10px;
}
.frame-footer .box-links {
  font-size: 12px;
  line-height: 24px;
  color: #333;
  margin-top: 10px;
}
.frame-footer .box-links a {
  padding: 0 8px;
  border-left: 1px solid #d3d3d3;
}
.frame-footer .box-links a:hover {
  text-decoration: underline;
  color: #007acd;
}
.frame-footer .box-links label + a, .frame-footer .box-links a:first-child {
  padding: 0 8px 0 0;
  border: none;
}
.frame-footer .site-statement {
  color: #999;
  font-size: 12px;
  line-height: 24px;
  margin-top: 8px;
}

.frame-contact {
  position: fixed;
  z-index: 555;
  right: 20px;
  top: 40%;
  background: #fff;
}
.frame-contact .contact-header {
  width: 116px;
  height: 59px;
  background: url(images/header.png) center center no-repeat;
  display: block;
  cursor: pointer;
}
.frame-contact .contact-header label {
  cursor: pointer;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin: 11px 0 0 48px;
  color: #fff;
}
.frame-contact .contact-content {
  width: 116px;
  background: #ff7749;
  padding: 0 10px 5px 10px;
  font-size: 12px;
  color: #fff;
  line-height: 16px;
}
.frame-contact .contact-content dt {
  margin-bottom: 4px;
}
.frame-contact .contact-content dd {
  margin-bottom: 4px;
}
.frame-contact .contact-footer {
  width: 116px;
  height: 93px;
  margin-top: 2px;
  display: block;
  background: url(images/footer.png) center center no-repeat;
  cursor: pointer;
}
.frame-contact .contact-footer label {
  display: inline-block;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 38px;
}

.frame-back-to-top {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 40px;
  line-height: 40px;
  background: #000;
  z-index: 555;
  min-width: 116px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.frame-back-to-top label {
  display: inline-block;
  height: 40px;
  float: left;
  margin-left: 42px;
  cursor: pointer;
}

/* begin index */
.portal-module {
  font-size: 12px;
  padding-right: 510px;
}
.portal-module dl {
  margin-top: 20px;
}
.portal-module dl :after {
  content: '';
  display: block;
  clear: left;
}
.portal-module dt {
  height: 24px;
  padding-bottom: 6px;
  line-height: 18px;
  font-size: 14px;
  display: block;
  zoom: 1;
}
.portal-module dt .icon {
  width: 18px;
  height: 18px;
  margin: 0 12px 0 14px;
  float: left;
}
.portal-module dt label {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  float: left;
}
.portal-module dd {
  display: block;
  zoom: 1;
}
.portal-module dd a {
  display: block;
  float: left;
  width: 240px;
  min-height: 120px;
  border: 1px solid #f3f3f3;
  zoom: 1;
  margin: 20px 0 0 20px;
  color: #999;
  position: relative;
}
.portal-module dd a:hover {
  text-decoration: none;
  color: #999;
  border: 1px solid #007acd;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0 0 3px #007acd;
  -moz-box-shadow: 0 0 3px #007acd;
  box-shadow: 0 0 3px #007acd;
}
.portal-module dd a .icon-free {
  width: 48px;
  height: 44px;
  position: absolute;
  top: -3px;
  left: -3px;
  background: url(images/free.png) center center no-repeat;
}
.portal-module dd .left-icon {
  width: 50px;
  height: 50px;
  margin: 20px 0 0 20px;
  float: left;
}
.portal-module dd .right-text {
  width: 138px;
  margin: 25px 10px 10px 20px;
  min-height: 83px;
  float: right;
}
.portal-module dd .right-text li:first-child {
  color: #333;
  margin-bottom: 5px;
}
.portal-module dd .right-text li {
  line-height: 20px;
}

.portal-information {
  float: right;
  width: 510px;
  padding: 0 156px 0 14px;
}
.portal-information .box-information {
  margin-bottom: 20px;
}
.portal-information .information-title {
  font-size: 14px;
  line-height: 18px;
  height: 24px;
  padding-bottom: 6px;
}
.portal-information .information-title .icon {
  margin-right: 12px;
}
.portal-information .information-title > i, .portal-information .information-titlelabel, .portal-information .information-titlea {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  float: left;
}
.portal-information .information-title a {
  float: right !important;
  color: #007acd;
  font-size: 12px;
}
.portal-information .information-title a:hover {
  text-decoration: underline;
}
.portal-information .information-content {
  margin-top: 15px;
}
.portal-information .information-content li {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding: 0 0 0 35px;
  display: block;
  width: 100%;
  position: relative;
}
.portal-information .information-content li .icon {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 24px;
  left: 0;
  top: 0;
  background: #eee;
}
.portal-information .information-content li a {
  display: block;
  width: 100%;
}
.portal-information .information-content dl {
  padding: 0 0 0 35px;
  font-size: 12px;
  margin-bottom: 15px;
}
.portal-information .information-content dt {
  height: 32px;
  line-height: 32px;
  zoom: 1;
}
.portal-information .information-content .user-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  float: left;
}
.portal-information .information-content .user-icon img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  margin: 1px;
  float: left;
}
.portal-information .information-content .user-name {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  color: #999;
  margin-left: 20px;
  float: left;
}
.portal-information .information-content .time {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  color: #999;
  margin-left: 8px;
  padding-left: 15px;
  float: left;
  background: red;
}
.portal-information .information-content dd {
  padding: 8px 0 15px;
  line-height: 20px;
  border-bottom: 1px solid #ebebeb;
}

/*# sourceMappingURL=frame.css.map */
