$fontColor: #fff;
$lighterFontColor: #333;
$lightestFontColor: #888;
$bdColor: #eee;
$lighterBdColor: #eee;
$lightestBdColor: #f0f0f0;
$bgColor: #D51518;
$themeColor: #017ACC;

$bodyBgBeginColor: #D51518;
$bodyBgEndColor: #F62D2D;

$codeBgBeginColor:#FFDC47;
$codeBgEndColor:#FF6900;

$usernameBgColor: #F89D3B;
