@import "base";

$themeColor: #b8342c;
$themeAnchorColor: #d1251a;
$bdColor: #eae9ec;
$bgColor: #fff;
$whiteBgColor: #fff;
$blockDarkColor: #e5e7e8;
$blockWhiteColor: #f6f6f6;
$fontColor: #282828;
$lighterFontColor: #666;
$lightestFontColor: #999;
$frameWidth: 1200px;

body, div, ul, dl, ol, dt, dd, li, p, a, label, span, i, img, input, textarea, header, footer, article, section, nav, aside, figure, h1, h2, h3, h4, h5, h6 {
 padding: 0;
 margin: 0;
 border: 0;
 @include boxSizing(border-box);
}

body {
 font-size: 14px;
 min-width: 1200px;
 font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
 background: #fff;
 color: $fontColor;
}

ul, dl, ol {
 list-style: none;
}

a {
 color: $fontColor;
 text-decoration: none;
}

input, textarea, a {
 outline: none;
}

header, footer, article, section, nav, aside, figure {
 display: block
}

.btn {
 cursor: pointer;
}

.icon {
 display: inline-block;
}

.p-t-b-10 {
 padding-top: 10px;
 padding-bottom: 10px;
}

.p-b-65 {
 padding-bottom: 65px;
}

.frame-top-line {
 height: 80px;
 background: #fff;

 .top-line-wrapper {
  width: $frameWidth;
  margin: 0 auto;
 }

 .logo-box {
  float: left;
  height: 80px;
  padding: 12px 20px 0 0;

  .logo {
   display: block;
   min-width: 200px;
   height: 36px;
  }

  img {
   display: block;
   height: 36px;
   vertical-align: top;
  }

  .text-site-intro {
   display: block;
   letter-spacing: 4px;
   font-size: 12px;
   color: $fontColor;
   margin-top: 4px;
   @include setHeightGroup(16px);
  }
 }

 .func-box {
  float: right;
  padding: 30px 0;

  & > div {
   float: left;
   padding: 0 15px;
   position: relative;
   font-size: 14px;
   @include setHeightGroup(20px);

   a:hover {
    color: $themeAnchorColor;
   }
  }

  .file-search {
   padding: 0 0 0 20px;
   margin-left: 5px;

   &:before {
    content: '';
    height: 16px;
    width: 1px;
    background: #C2C2C2;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
   }

   a {
    padding-left: 22px;
    background: url(images/search.png) left center no-repeat;
   }

   &:hover {
    a {
     background: url(images/search_red.png) left center no-repeat;
    }
   }
  }

  .login-info {
   font-size: 12px;
  }

  .username {
   margin: 0 20px 0 2px;
   color: $fontColor;
   text-decoration: none;
  }
 }
}

.frame-banner-box {
 width: 100%;
 height: 270px;
 overflow: hidden;
 position: relative;
 background: $blockWhiteColor;

 a:hover {
  color: $themeColor;
  text-decoration: underline;
 }

 ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
 }

 li {
  width: 100%;
  height: 100%;
  float: left;

  img {
   display: block;
   margin: 0 auto;
  }
 }

 .banner-temp {
  width: 100%;
  height: 100%;
  background-position: center center;

  img {
   display: block;
   margin: 0 auto;
  }
 }

 .banner-loading {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(images/banner_loading.gif) center center no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
 }

 .banner-btn-list-box {
  position: absolute;
  z-index: 15;
  width: 100%;
  text-align: center;
  @include setHeightGroup(26px);
  bottom: 12px;

  .btn-banner {
   display: inline-block;
   width: 30px;
   height: 26px;
   padding: 10px 0 0;
   margin: 0 4px;

   i {
    display: inline-block;
    width: 100%;
    float: left;
    height: 6px;
    border-radius: 6px;
    background: #e4e6e7;
    @include transition(background 0.3s ease-in-out);
   }

   &:hover, &.active {

    i {
     background: #067cfe;
    }
   }
  }
 }
}

.frame-main-container {
 width: 100%;

 .main-container-wrapper {
  width: $frameWidth;
  margin: 0 auto;
 }

 .register-guide{
  text-align: center;

  table{
   vertical-align: middle;
   text-align: left;
   display: inline-block;

   span{
    padding:0 10px 0 35px;
   }

   td{
    padding: 0;
    line-height: 36px;
   }

   .user{
    background: url(images/user.png) left center no-repeat;
   }

   .tel{
    background: url(images/tel.png) left center no-repeat;
   }

   .mail{
    background: url(images/mail.png) left center no-repeat;
   }
  }
 }

 .line-modules {
  width: 100%;
  padding-top: 36px;
  overflow: hidden;

  a {
   width: 171px;
   float: left;
   padding: 0 25px;

   &:hover {
    color: $themeAnchorColor;
    h3 {
     color: $themeAnchorColor;
     text-decoration: underline;
    }
   }
  }

  .icon-wrapper {
   height: 60px;
   text-align: center;

   span {
    display: inline-block;
    width: 60px;
    height: 60px;
   }

   img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    vertical-align: center;
   }
  }

  h3 {
   margin-top: 8px;
   font-size: 14px;
   font-weight: normal;
   line-height: 20px;
   text-align: center;
   color: #333333;

   label {
    margin-right: 5px;
    color: $themeAnchorColor;
   }
  }

  p {
   font-size: 12px;
   text-align: center;
   color: #999999;
  }
 }

 .box-modules {
  border: 1px solid #e2e2e2;
  @include boxShadow(0 0 5px rgba(0,0,0,.1));

  .line-modules{
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 12px;

   &:first-child{
    padding-top:0;
   }

   a{
    width: 166px;
   }
  }

  dl {
   border-top: 1px solid #ededed;
   padding-bottom: 18px;

   &:first-child {
    border: none;
   }
  }

  dt{
   font-size:18px;
   line-height: 30px;
   padding:12px 30px;
   position: relative;

   &:before{
    content: '';
    position: absolute;
    width:2px;
    height: 18px;
    background: #E20102;
    left:18px;
    top:50%;
    margin-top:-9px;
   }
  }
 }
}

.frame-footer {
 width: 100%;
 border-top: 1px solid #cccccc;
 background: #fff;
 overflow: hidden;

 .footer-wrapper {
  width: $frameWidth;
  margin: 0 auto;
 }

 &:before {
  content: '';
  display: block;
  clear: both;
 }

 .box-links {
  font-size: 14px;
  line-height: 28px;
  color: $fontColor;
  text-align: center;
  margin-top: 20px;

  a {
   display: inline-block;
   color: $fontColor;
   margin: 0 13px;

   &:hover {
    color: $themeAnchorColor;
    text-decoration: underline;
   }
  }
 }

 .box-links-2 {
  font-size: 0;
  color: $fontColor;
  text-align: center;
  margin-top: 12px;

  a {
   font-size: 12px;
   display: inline-block;
   line-height: 24px;
   padding: 0 8px 0 9px;
   color: $fontColor;
   position: relative;

   &:before {
    content: '';
    height: 12px;
    width: 1px;
    background: #333;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
   }

   &:hover {
    color: $themeAnchorColor;
    text-decoration: underline;
   }
  }

  label {
   font-size: 12px;
   line-height: 24px;
  }

  label + a, a:first-child {

   &:before {
    display: none;
   }
  }
 }

 .site-statement {
  text-align: center;
  color: $fontColor;
  font-size: 12px;
  line-height: 24px;
  margin: 8px 0 30px;
  li:first-child {
   margin-bottom: 5px;
  }
 }
}

/* begin login dialog */
.dialog-bg {
 position: fixed;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 background: rgba(0, 0, 0, 0.3);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47000000, endColorstr=#47000000);
 z-index: 1005;
}

.dialog-box {
 width: 350px;
 height: 190px;
 position: fixed;
 left: 50%;
 top: 50%;
 margin-top: -95px;
 margin-left: -175px;
 background: #fff;
 z-index: 1100;

 .dialog-header {
  border-bottom: 1px solid #ebebeb;
  height: 39px;
  line-height: 38px;
  background: $themeColor;
  width: 100%;
  padding-left: 18px;
  font-size: 14px;
  position: relative;
  color: #fff;

  .btn-close {
   display: inline-block;
   width: 24px;
   height: 24px;
   background: url(images/close.png) center center no-repeat;
   float: right;
   margin: 7px 10px;
   *position: absolute;
   *right: 10px;
   *top: 7px;
   *z-index: 1300;
   *margin: 0;
  }
 }

 .dialog-content {
  padding: 20px 20px 10px 20px;
  width: 100%;
  height: 149px;

  .info-line {
   padding-left: 32px;
   line-height: 24px;
   width: 308px;
   background: url(images/warn.png) left 2px no-repeat;

   span {
    font-size: 12px;
    color: red;
   }
  }

  .btn-line {
   height: 36px;
   line-height: 36px;
   margin-top: 15px;
   font-size: 14px;

   .btn-action {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin-left: 64px;
    float: left;
    color: #fff;
    width: 100px;
    text-align: center;
    background: $themeColor;
   }

   .btn-cancel {
    margin-left: 35px;
    float: left;
    color: $fontColor;
   }

   .btn-cancel:hover {
    text-decoration: underline;
   }
  }

  .register-line {
   margin-top: 15px;
   text-align: center;
   height: 24px;
   line-height: 24px;
   color: #777;
   font-size: 12px;

   a {
    cursor: text;
    text-decoration: none;
    color: $fontColor;
    margin-left: 2px;
   }
  }
 }
}
/* end login dialog */