$themeColor: #353751;
$bdColor: lighten(#48586d, 2%);
$inputBgColor: #405065;
$fontColor: #fff;
$iconColor: #90A7CA;
$btnBgColor: #395D90;
$errorColor: #CC1927;

$homeBgColor: #EEF1F8;
$homeBoxBdColor: #dee6ed;
$homeBoxHeaderBdColor: #eaedf1;
$homeBoxHeaderColor: #6f787f;
$homeBoxItemBdColor: #F0F2F6;
$homeBoxGreen: #00b172;
$homeBoxRed: #E75038;
$homeBoxYellow: #F5B300;
$homeBoxDarkBlue: #8A6AD5;
$homeBoxBlue: #05C1C7;
$homeBoxBlack : #000;
$homeProgressBarBgColor: #EEF1F7;
