@import "./core/reset";
@import "./core/base";
@import "./core/config";

html{
 height: 100%;
}

body {
 font-size: 14px;
 min-width: 1200px;
 font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
 background: url(images/body_bg.png) left top repeat;
 color: $fontColor;
 @include boxSizing(border-box);
 position: relative;
 height: 100%;
}

body * {
 @include boxSizing(inherit);
}

a {
 color: $fontColor;
 text-decoration: none;
}

.btn {
 cursor: pointer;
}

.icon {
 display: inline-block;
}

.block-login{
 width:260px;
 position: absolute;
 left:50%;
 top:50%;
 margin-left:-130px;
 margin-top: -165px;
 .logo{
  width:100%;
  height:100px;
  span{
   display: block;
   margin:0 auto;
   width:86px;
   height:100px;
   background:  url(images/login_icons.png) 0 0 no-repeat;
   vertical-align: middle;
   text-align: center;
   line-height: 86px;
  }
  img{
   display: inline-block;
   vertical-align: middle;
  }
 }
 .error{
  @include setHeightGroup(16px);
  margin-top: 8px;
  color: $errorColor;
  font-size:12px;
  text-align: center;
  span{
   padding-left:22px;
   background: url(images/login_icons.png) 0 -204px no-repeat;
  }
 }
 .input-box{
  width: 100%;
  height:36px;
  padding:8px 8px 8px 38px;
  margin-bottom:15px;
  background: $inputBgColor;
  position: relative;
  input{
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: middle;
   border:none;
   padding-left:8px;
   border-left: 1px solid $bdColor;
   color:#fff;
   font-size:12px;
   background: none;
  }
  .icon{
   position: absolute;
   width:38px;
   height: 36px;
   left:0;
   top:0;
  }
  &.username{
   margin-top:6px;
   .icon{
    background: url(images/login_icons.png) 0 -100px no-repeat;
   }
  }
  &.password{
   .icon{
    background: url(images/login_icons.png) 0 -136px no-repeat;
   }
  }
 }
 .remember{
  @include setHeightGroup(16px);
  font-size:12px;
  color: $iconColor;
  font-style: normal;
  .icon{
   float:left;
   display: inline-block;
   padding:8px;
   vertical-align: middle;
   background: url(images/login_icons.png) 0 -172px  no-repeat;
  }
  &.selected{
   .icon{
    background: url(images/login_icons.png) 0 -188px no-repeat;
   }
  }
  label{
   float:left;
   padding-left:7px;
  }
 }
 .btn-login{
  margin: 20px 0;
  display: block;
  @include setHeightGroup(36px);
  color:#fff;
  background: $btnBgColor;
  text-align: center;
  font-size:14px;
  font-weight:400;
 }
}