@import "base";

$themeColor: #007acd;

/* begin tis-home */
.wrapper-top-line {
 background: $themeColor !important;
}

.wrapper-top-line .btn-box {
 border-left: 1px solid $themeColor !important;
 border-right: 1px solid $themeColor !important;
}

.wrapper-top-line .lang-list li.active a, .wrapper-top-line .lang-list li:hover a {
 color: $themeColor !important;
}

.wrapper-top-line .box-message-list a:hover {
 color: $themeColor !important;
}

.wrapper-top-line .box-category-list dd a:hover {
 color: $themeColor !important;
}

.block-logo-search .input-box {
 border: 2px solid $themeColor !important;
}

.block-logo-search span.btn {
 background: $themeColor !important;
}

.block-logo-search a.btn {
 color: $themeColor !important;
}

.block-footer .links-box a:hover {
 color: $themeColor !important;
}

.dialog-box .dialog-content .btn-line .btn-action {
 background: $themeColor !important;
}

.dialog-box .dialog-content .btn-line .btn-cancel {
 color: $themeColor !important;
}

.dialog-box .dialog-content .register-line a {
 color: $themeColor !important;
}

.dialog-box .dialog-content .auto-jump-line a {
 color: $themeColor !important;
}

.dialog-box-expired .dialog-content-expired dd span {
 color: $themeColor !important;
}

.dialog-box-expired .dialog-content-expired dd a {
 color: $themeColor !important;
}

.block-nav-crumb a:hover {
 color: $themeColor !important;
}

.block-logo-search .change-brand-btn {
 color: $themeColor !important;
}

.block-news-service .notice-board {
 border: 3px solid $themeColor !important;
}

.block-news-service .notice-board dd a:hover {
 color: $themeColor !important;
}

.block-news-service .news-dynamic-box .tab-content-box .news-list a:hover {
 color: $themeColor !important;
}

.banner-list-box .banner-btn-list span:hover, .banner-list-box .banner-btn-list span.active {
 background: $themeColor !important;
}

.item-message dd a {
 color: $themeColor !important;
}

.block-btn-group .btn-goto {
 background: $themeColor !important;
}

.block-btn-group .btn:hover, .block-btn-group .btn.active {
 background: $themeColor !important;
}

.block-download .download-info dd a {
 color: $themeColor !important;
}

.block-download .download-table a {
 background-color: $themeColor !important;
}

.block-download .download-intro a {
 color: $themeColor !important;
}

/* begin tis-portal */
.frame-top-line {
 a:hover{
  color:$themeColor !important;
 }
 .func-box-left{
  .change-brand{
   .btn{
    &:hover{
     color:$themeColor !important;
    }
   }
  }
  .change-lang{
   a{
    &:hover{
     color:$themeColor !important;
    }
   }
  }
 }
 .btn{
  &:hover{
   color: $themeColor !important;
  }
 }
 .box-message-list{
  a:hover{
   color:$themeColor !important;
  }
 }
}

.frame-logo-search{
 a:hover{
  color:$themeColor !important;
 }
 .search-box{
  input{
   border:2px solid $themeColor !important;
  }
  .btn-search{
   background: $themeColor !important;
   &:hover{
    background: darken($themeColor,8%) !important;
   }
  }
  .btn-replace-search{
   &:hover{
    color:$themeColor !important;
   }
  }
 }
}
.frame-banner-box{
 a:hover{
  color:$themeColor !important;
 }

 .banner-btn-list{
  .btn-banner{
   &:hover,&.active{
    background: $themeColor !important;
   }
  }
 }
}
.frame-main-container{
 a:hover{
  color:$themeColor !important;
 }
}
.frame-footer{
 a:hover{
  color:$themeColor !important;
 }
 .box-links{
  a{
   &:hover{
    color:$themeColor !important;
   }
  }
 }
}

.frame-contact{
 a:hover{
  color:$themeColor !important;
 }
}

.frame-back-to-top{
 a:hover{
  color:$themeColor !important;
 }
}

/* begin index */
.portal-module{
 dd{
  a{
   &:hover{
    border:1px solid $themeColor !important;
    @include boxShadow(0 0 4px $themeColor !important);
   }
  }
 }
}
.portal-information{
 .information-title{
  a{
   color:$themeColor !important;
  }
 }
}
