@import "base";

body{
 padding:0;
 margin: 0;
}

body{
 @include boxSizing(border-box);
 font-size:14px;
 min-width:980px;
 font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
 background: #fff;
}

ul,dl,ol{
 list-style: none;
}

a{
 text-decoration: none;
}

input,textarea{
 outline: none;
}

.btn {
 cursor:pointer;
}

.block-top-func-line{
 height:45px;
 line-height:44px;
 border-bottom: 1px solid #e5e5e5;
 background: #f5f5f5;
 .logo{
  display: inline-block;
  font-weight:bold;
  padding:0 10px;
  @include setHeightGroup(44px);
  float:left;
  a{
   color:#333;
  }
 }
 .site-intro{
  float:left;
 }
 .search-input-box{
  float: left;
  .btn-search{
   display:inline-block;
   width: 26px;
   color: red;
   @include setHeightGroup(26px);
  }
  .search-select{
   float:left;
  }
  input{
   @include setHeightGroup(26px);
   padding:0 5px;
   width: 230px;
   font-size:14px;
  }
 }
}
