@import "base";

$themeColor: #007acd;

body,div,ul,dl,ol,dt,dd,li,p,label,span,i,input,textarea,header,footer,article,section,nav,aside,figure{
 padding:0;
 margin: 0;
 @include boxSizing(border-box);
}

body{
 font-size:14px;
 min-width:980px;
 font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
 background: #fff;
 color:#333;
}

ul,dl,ol{
 list-style: none;
}

a{
 color:#333;
 text-decoration: none;
}
a:hover{
 color:$themeColor;
 text-decoration: underline;
}

input,textarea{
 outline: none;
}

header,footer,article,section,nav,aside,figure{
 display:block
}

.btn {
 cursor:pointer;
}

.icon{
 display: inline-block;
}

.frame-top-line {
 height:29px;
 line-height: 28px;
 border-bottom: 1px solid  #e1e1e1;
 background: #f7f7f7;
 width: 100%;
 .func-box-left{
   float:left;
   & > div {
    float:left;
    padding:0 0 0 20px;
    @include setHeightGroup(28px);
   }
   .change-brand{
    }
   .change-lang{
    font-size:12px;
    & > div {
     width: 80px;
     @include setHeightGroup(28px);
     position: relative;
     min-width: 80px;
     padding: 0 8px;
     cursor: pointer;
     border-left: 1px solid #f7f7f7;
     border-right: 1px solid #f7f7f7;
    }
    & > div:hover {
     background: #fff;
     border-left: 1px solid #ebebeb;
     border-right: 1px solid #ebebeb;
    }
    label{
     display: inline-block;
     @include setHeightGroup(28px);
     float:left;
     cursor: pointer;
    }
    .icon-arrow{
     height:28px;
     float:left;
    }
    ul{
     display: none;
     position: absolute;
     top: 28px;
     left: -1px;
     right: -1px;
     background: #fff;
     border: 1px solid #ebebeb;
     border-top:0;
     padding:4px 0;
    }
    li{
     padding:0 8px;
     @include setHeightGroup(26px);
    }
    a{
     &:hover{
      text-decoration: underline;
      color:$themeColor;
     }
    }
   }
  }
  .btn{
   font-size:12px;
   &:hover{
    color: $themeColor;
    text-decoration: underline;
   }
 }
 .func-box-right{
  float:right;
  font-size:12px;
  &>div{
   float:left;
   padding:0 14px;
   position: relative;
   &:before{
    content: '';
    height:12px;
    width:1px;
    background: #d7d7d7;
    display: inline-block;
    font-size:12px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
   }
  }
  &>div:first-child{
   &:before{
    width: 0;
   }
  }
  .nav-box{
   padding:0;
   position: relative;
   & > span{
    cursor: pointer;
    padding: 0 20px;
    @include setHeightGroup(28px);
    display: inline-block;
   }
   &:hover{
    background: #fff;
    &:before{
     content: '';
     height:28px;
     width:1px;
     background: #ebebeb;
     display: inline-block;
     font-size:12px;
     position: absolute;
     left: 0;
     top: 0;
     margin-top: 0;
    }
    &:after{
     content: '';
     height:1px;
     width:100%;
     background: #fff;
     display: inline-block;
     font-size:12px;
     position: absolute;
     left: 0;
     right: 0;
     bottom: -1px;
    }
   }
  }
  .site-nav{
   font-size: 12px;
   border:1px solid #ebebeb;
   background: #fff;
   padding: 18px 0;
   border-top:none;
   overflow: hidden;
   display: none;
   position: absolute;
   right:0;
   top: 29px;
   .nav-column{
    width: 194px;
    height:100%;
    padding:0 20px;
    float:left;
    position: relative;
    &:before{
     content: '';
     width:1px;
     display: block;
     border-top:2px solid transparent;
     border-bottom:2px solid transparent;
     background: #ebebeb;
     position: absolute;
     left:0;
     top:0;
     bottom:0;
    }
    &:first-child:before{
     display: none;
    }
   }
   dt{
    font-weight:bold;
    display: block;
    line-height: 16px;
    margin-bottom: 14px;
   }
   dd{
    display: block;
    line-height: 16px;
    margin-top:8px;
   }
  }
 }
}

.frame-logo-search{
 width:100%;
 height:80px;
 .logo-box{
  float:left;
  height:80px;
  padding: 10px 20px;
  .logo{
   display: block;
   min-width: 200px;
   height:40px;
  }
  img{
   vertical-align: top;
  }
  .text-site-intro{
   display: block;
   letter-spacing: 6px;
   font-size:12px;
   color:#a1a1a1;
   margin-top:4px;
   @include setHeightGroup(16px);
  }
 }
 .search-box{
  float:right;
  height:80px;
  padding:23px 0;
  input{
   display: block;
   height:34px;
   float:left;
   width:460px;
   border:2px solid $themeColor;
   padding:0 10px;
   @include placeholderColor(#ccc);
  }
  .btn{
   display: inline-block;
   float:left;
   @include setHeightGroup(34px);
  }
  .btn-search{
   font-size:14px;
   color:#fff;
   padding:0 18px;
   background: $themeColor;
  }
  .btn-replace-search{
   font-size:12px;
   text-decoration: underline;
   margin:0 20px;
   &:hover{
    color:$themeColor;
   }
  }
 }
}
.frame-banner-box{
 width:100%;
 height:280px;
 overflow:hidden;
 ul{
  width:100%;
  height:100%;
  overflow:hidden;
 }
 li{
  width:100%;
  height:100%;
 }
 .banner-temp{
  width:100%;
  height:100%;
 }
 .btn{
  display:inline-block;
  width:50px;
  height:60px;
  position:absolute;
  top:50%;
  margin-top: -30px;
  z-index:15;
 }
 .btn-prev-banner{
  left:0;
  background:url(images/prev.png) center center no-repeat;
 }
 .btn-next-banner{
  right:0;
  background:url(images/next.png) center center no-repeat;
 }
}
