.sgmw{
 color: darken(#01548c,8%);
}

.suzuki{
 color: darken(#d92016,8%);
}

.sih{
 color: darken(#d71318,8%);
}

.rch{
 color: darken(#2694c9,8%);
}

.lifan{
 color: darken(#185494,8%);
}

.dfsk{
 color: darken(#f30101,8%);
}