$theme-color: #015C92;
$lighter-theme-color: #65677f;
$bd-color: #DCDCDC;
$lighter-bd-color: #eee;
$bg-color: #fff;
$font-color: #333;
$theme-font-color: #013554;
$lighter-font-color: #657782;
$lightest-font-color: #989898;

$disable-bg-color: #aaa;
$top-line-color:  #00A2D9;
$logo-font-color: #013553;
$banner-bg-color: #015C92;
$banner-info-bg-color: #01A3DA;
$input-font-color: #39444A;
$error-icon-color: #F64040;
$error-text-color: #F75F5F;
$error-bd-color: #F75B5B;
$btn-login-color: #015C92;
$unchecked-color: #DCDCDC;
$checked-color: $theme-color;
$aside-bg-color: #003453;
$nav-title-color: #C0CBD9;
$nav-icon-color: #01A3DA;
$nav-font-color: #C0CBD9;
$nav-hover-bg-color: #005B91;
$product-hover-color: #E4F6FA;
$product-title-color: #01A3DA;

$offline-block-intro-color: #39444A;
$offline-aside-bg-color: #fff;
$offline-nav-icon-color: #C0CBD9;
$offline-nav-title-color: #657782;

