@import "./core/base";
@import "./core/reset";
@import "./core/config";

body {
 font-size: 14px;
 min-width: 1200px;
 font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
 background: #fff;
 color: $fontColor;
}

a {
 color: $fontColor;
 text-decoration: none;
}

.btn {
 cursor: pointer;
}

.icon {
 display: inline-block;
}
